.partners {
    margin-top: 20px;
}

.even-column.partner {
    text-align: center;
}

.partner-pic {
    max-width: 100%;
    max-height: 150px;
}

.partner-name {
    display: block;
    font-size: 22px;
}

.partner-description {
    display: block;
    font-size: 18px;
}
