.hero-container {
    width: 100%;
    background-color: $blue;
    text-align: center;
    padding: 20px 0;
    cursor: pointer;

    a:hover {
        text-decoration: none;
    }
}

.hero-container-image {
    height: 100px;
}

.hero-container-text {
    color: $white;
    font-size: 64px;
    font-weight: 200;
}
