@import "variables"; // variables MUST go first

@import "community";
@import "curriculum";
@import "grid";
@import "hero";
@import "icons";
@import "mentors";
@import "menu";
@import "tables";
@import "tags";
@import "today";

@import "mobile";

.text-center {
    text-align: center;
}

.middle {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.content-container {
    max-width: 75%;
    margin: 20px auto;

    // Prevent vertical margin collapse with flexbox!
    display: flex;
    flex-direction: column;
}

.main-page-header {
    max-width: 40%;
    text-align: justify;
    margin: auto;
}

.content-box {
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
    padding: 20px;
    margin: 20px 0;
}

.main-page-buttons {
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin: auto;
}

.button {
    font-size: 18px;
    font-weight: 400;
    font: "Arial Bold", "sans-serif";
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid $black;
    width: max-content;

    a {
        color: $white;
        background-color: inherit;

        &:hover {
            text-decoration: none;
        }

        &:visited {
            color: $white;
        }
    }
}

.button-blue {
    background-color: $blue;
}

.button-green {
    background-color: $green;
}

a.has-img {
// a:has(> img) { - in progress in CSS4
    background-color: transparent;
}
