.menu-container {
    background-color: $gold;
    border-bottom: 5px solid $blue;
    margin-bottom: 30px;
}

.menu-item-list {
    list-style: none;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline-start: 0;
}

.menu-item-list-item {
    padding: 10px 40px;
    font-size: 24px;
    font-weight: 200;
    color: $blue;
    display: inline;
    position: relative;
}

.menu-item-list-item .menu-item-list-item-link {
    color: $blue;

    &:visited {
        color: $blue;
    }
}

.menu-item-list-dropdown-list-item .menu-item-list-item-link {
    &:visited {
        color: $blue;
    }
}

.menu-item-list-dropdown {
    @extend .menu-item-list-item;

    .menu-item-list-item-link {
        i {
            position: absolute;
            top: 13px;
            right: -5px;
        }

        &:hover {
            text-decoration: none;
        }
    }
}

.menu-item-list-dropdown-list {
    display: none;
    position: absolute;
    list-style: none;
    top: 39px;
    right: 0;
    font-size: 24px;
    font-weight: 200;
    color: $blue;
    background-color: $gold;
    border: 1px solid $blue;
    padding-inline-start: 0;
    min-width: 100%;
    width: max-content;
    z-index: 999;
}

.menu-item-list-dropdown:hover .menu-item-list-dropdown-list {
    display: inherit;
}

.menu-item-list-dropdown-list-item {
    padding: 10px 20px 5px 20px;
    max-width: 100%;
    float: none;
    display: list-item;
    position: relative;
    list-style: none;

    &:hover {
        background-color: $blue;
        color: $gold;

        .menu-item-list-item-link {
            width: max-content;
            color: $gold;
            background-color: $blue;
        }
    }
}
