@media (max-width: $screen-desktop) {
    .menu-container {
        padding: 20px 20px !important;
    }

    // .menu-logo {
    //     font-size: 28px !important;
    // }

    .menu-item-list {

    }

    .menu-item-list-item {
        font-size: 16px !important;
        padding: 5px 10px 0 10px !important;
    }
}

.menu-container {
    background-color: $white;
    padding: 0px 100px;
    border-bottom: 2px solid $gold;
    box-shadow: 2px 2px $black;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.menu-item-list {
    list-style: none;
    height: max-content;
}

.menu-item-list-item {
    padding: 10px 20px 0 20px;
    font-size: 24px;
    font-weight: 200;
    color: $black;
    display: inline;
    position: relative;
}

.menu-item-list-item .menu-item-list-item-link {
    color: $black;
    text-decoration: none;

    &:visited {
        color: $black;
    }

    &:hover {
        color: $gold;
    }
}

.menu-item-list-dropdown-list-item .menu-item-list-item-link {
    color: $gold;
    text-decoration: none;


    &:visited {
        color: $gold;
    }

    &:hover {
        background-color: $gold;
        color: $blue;
    }
}

.menu-item-list-dropdown {
    @extend .menu-item-list-item;
}

.menu-item-list-dropdown-list {
    display: none;
    position: absolute;
    list-style: none;
    top: 39px;
    left: 0;
    font-size: 24px;
    font-weight: 200;
    width: max-content;
    color: $gold;
    background-color: $blue;
    border: 1px solid $blue;

}

.menu-item-list-dropdown:hover .menu-item-list-dropdown-list {
    display: inherit;
}

.menu-item-list-dropdown-list-item {
    padding: 10px 20px 5px 20px;
    max-width: 100%;
    float: none;
    display: list-item;
    position: relative;

    &:hover {
        background-color: $gold;
        color: $blue;

        .menu-item-list-item-link {
            color: $blue;
        }
    }
}
