// Desktop
@media (min-width: 992px) {
    .visible-phone {
        display: none;
    }
}

// Mobile
@media (max-width: 991px) {
    .hidden-phone {
        display: none;
    }
}

.mobile-menu-container {}

.mobile-menu-hero-container {
    background-color: $blue;
    display: flex;
    justify-content: space-between;
}

.mobile-menu-hero {
    padding: 20px;
    display: block;
    width: 66%;
}

.mobile-menu-hero-image {}

.mobile-menu-hero-text {
    font-size: 36px;
    color: white;
    float: right;
    font-weight: 300;
    margin-right: 5px;
    margin-top: -15px;
}

.mobile-menu-dropdown-container {
    padding: 20px;

    .ii {
        font-size: 48px;
        color: white;
    }
}

.mobile-menu-dropdown {
    width: 100%;
    color: $blue;
}

.mobile-menu-dropdown-group {
    font-size: 24px;
    background-color: $gold;
    padding: 10px 20px;
    border-bottom: 1px solid $blue;
}

.mobile-menu-dropdown-group-item {
    display: block;

    &:visited {
        color: $blue;
    }
}

.mobile-menu-dropdown-group-item:not(:first-child) {
    padding-left: 25px;
}
