.content-table,
.comparison-table {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content-table-row {
    td {
        border: 1px solid $black;
        padding: 5px 10px;
        font-size: 24px;

        a {
            color: $black;
        }
    }
}

.comparison-table-row {
    td {
        font-size: 18px;
        border-bottom: 1px dotted black;
        padding: 20px 40px;
        vertical-align: top;
    }
}

.comparison-table-row-header {
    font-size: 24px;
    text-align: center;
    font-weight: 500;
    text-decoration: underline;
}
