html {
    background-color: $white;
    font-family: "Arial Light", "Helvetica Neue", sans-serif;
}

body {
    margin: 0;
}

// All header attrs in the app need their own custom styling.
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

p {
    // -webkit-margin-before: 0;
    // -webkit-margin-after: 0;
    font-size: 18px;
}

pre {
    white-space: pre-wrap;
}

ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0px;
    // -webkit-padding-start: 0;
}

.content-box ul li,
.content-box ol li {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}

a {
    color: $blue;
    background-color: $gold;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &:visited {
        color: $black;
    }
}

a.no-style {
    background: none;
    color: inherit;
    text-decoration: none;

    &:visited,
    &:hover {
        text-decoration: none;
    }
}
