.today-table {
    width: 100%;
    margin-bottom: 20px;
}

.today-table-row {
    td {
        border: 1px solid $black;
        padding: 5px 10px;
        font-size: 24px;

        a {
            color: $black;
        }
    }
}

.today-theme {
    font-size: 1.25em;
    font-style: italic;
}
