// Colors

// Denver
// https://www.denvergov.org/Government/Agencies-Departments-Offices/Agencies-Departments-Offices-Directory/Marketing-Services/Brand-Guide/Color
$navyBlue: #002D56; // Primary, all headers, table headers, buttons, accent color
$brightBlue: #005596; // Secondary, large headers, table headers, buttons, accent color
$processBlack: #58595B; // Body text, headers
$redOrange: #D9531E; // Accent color, emphasis, alerts, button accent, link hover accent
$brightGreen: #6D8D24; // Accent color (limited to decorative only), alerts

// Centennial
// https://www.centennialco.gov/Home
$slateBlue: #3355c8;
$gold: #fae001;
$white: #fff;

// Misc
$black: #101820;

// Responsiveness
$screen-phone: 480px;
$screen-tablet: 768px;
$screen-desktop: 992px;
$screen-desktop-large: 1200px;
