// Colors
// $brandColorPrimary: #862222; // red
// $brandColorSecondary: #C5B358; // yellow
// $textColor: #333;
// $backgroundColor: #eee;
// $hoverTileBackgroundColor: #ddd;
// $hoverTileForegroundColor: #CA2222; // lighter red
// $boxShadowColor: #444;
// $borderColor: $brandColorPrimary;

$navyBlue: #002D56; // Primary, all headers, table headers, buttons, accent color
$brightBlue: #005596; // Secondary, large headers, table headers, buttons, accent color
$processBlack: #58595B; // Body text, headers
$redOrange: #D9531E; // Accent color, emphasis, alerts, button accent, link hover accent
$brightGreen: #6D8D24; // Accent color (limited to decorative only), alerts	RGB: 109, 141, 36

$gold: #FFB612;
$black: #101820;
$blue: #003087;
$white: #fff;
$green: #085;

// Responsiveness
$screen-phone: 480px;
$screen-tablet: 768px;
$screen-desktop: 992px;
$screen-desktop-large: 1200px;
