<div class="menu-container">
  <ul class="menu-item-list">
    <li class="menu-item-list-item">
      <a class="menu-item-list-item-link" href="index.html">
        Home
      </a>
    </li>
    <li class="menu-item-list-item">
      <a class="menu-item-list-item-link" href="curriculum.html">
        Curriculum
      </a>
    </li>
    <li class="menu-item-list-item">
      <a class="menu-item-list-item-link" href="today.html">
        Today
      </a>
    </li>
    <li class="menu-item-list-item">
      <a class="menu-item-list-item-link" href="mastery.html">
        Mastery
      </a>
    </li>
    <li class="menu-item-list-item">
      <a class="menu-item-list-item-link" href="#">
        Item
      </a>
    </li>
    <li class="menu-item-list-dropdown">
      <a class="menu-item-list-item-link" href="#">
        Dropdown
      </a>
      <ul class="menu-item-list-dropdown-list">
        <li class="menu-item-list-dropdown-list-item">
          <a class="menu-item-list-item-link" href="#">
            Contact
          </a>
        </li>
        <li class="menu-item-list-dropdown-list-item">
          <a class="menu-item-list-item-link" href="#">
            More
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
