<div class="menu-container">
  <ul class="menu-item-list">
    <li class="menu-item-list-item">
      <a class="menu-item-list-item-link" href="index.html">
        Home
      </a>
    </li>
    <li class="menu-item-list-dropdown">
      <a class="menu-item-list-item-link" href="curriculum.html">
        Curriculum
        <i class="ii ii-chevron-down"></i>
      </a>
      <ul class="menu-item-list-dropdown-list">
        <li class="menu-item-list-dropdown-list-item">
          <a class="menu-item-list-item-link" href="mastery.html">
            Mastery
          </a>
        </li>
      </ul>
    </li>
    <li class="menu-item-list-item">
      <a class="menu-item-list-item-link" href="today.html">
        Today
      </a>
    </li>
    <li class="menu-item-list-dropdown">
      <a class="menu-item-list-item-link" href="mentors.html">
        Mentors
        <i class="ii ii-chevron-down"></i>
      </a>
      <ul class="menu-item-list-dropdown-list">
        <li class="menu-item-list-dropdown-list-item">
          <a class="menu-item-list-item-link" href="become-a-mentor.html">
            Become a mentor
          </a>
        </li>
      </ul>
    </li>
    <li class="menu-item-list-item">
      <a class="menu-item-list-item-link" href="sponsors.html">
        Sponsors
      </a>
    </li>
    <li class="menu-item-list-dropdown">
      <a class="menu-item-list-item-link" href="about.html">
        About
        <i class="ii ii-chevron-down"></i>
      </a>
      <ul class="menu-item-list-dropdown-list">
        <li class="menu-item-list-dropdown-list-item">
          <a class="menu-item-list-item-link" href="about.html#locations">
            Locations
          </a>
        </li>
        <li class="menu-item-list-dropdown-list-item">
          <a class="menu-item-list-item-link" href="about.html#contact">
            Contact Us
          </a>
        </li>
        <li class="menu-item-list-dropdown-list-item">
          <a class="menu-item-list-item-link" href="questions.html#faq">
            Questions
          </a>
        </li>
        <li class="menu-item-list-dropdown-list-item">
          <a class="menu-item-list-item-link" href="questions.html#privacy">
            Privacy
          </a>
        </li>
      </ul>
    </li>

    {{!-- Ports from CoderDojoKC website:
    
    Learning Resources should go on curriculum
    Scholarship Opportunities should go to Curriculum

    Add a Mentors page to the Mentors page --}}

    {{!-- Fix the menu chevrons and spacing. --}}
    {{!-- Redo pages so dropdown content is consistent. --}}
  </ul>
</div>
