<div class="menu-container">
  <ul class="menu-item-list">
    <li class="menu-item-list-item">
      <a class="menu-item-list-item-link" href="index.html">
        Home
      </a>
    </li>

    <li class="menu-item-list-dropdown">
      <a class="menu-item-list-item-link" href="#">
        Curriculum
        <i class="ii ii-chevron-down"></i>
      </a>
      <ul class="menu-item-list-dropdown-list">
        <a class="menu-item-list-item-link" href="curriculum-options.html">
          <li class="menu-item-list-dropdown-list-item">
            Options
          </li>
        </a>
        <a class="menu-item-list-item-link" href="mastery.html">
          <li class="menu-item-list-dropdown-list-item">
            Mastery
          </li>
        </a>
      </ul>
    </li>

    <li class="menu-item-list-item">
      <a class="menu-item-list-item-link" href="today.html">
        Today
      </a>
    </li>

    <li class="menu-item-list-dropdown">
      <a class="menu-item-list-item-link" href="#">
        Volunteers
        <i class="ii ii-chevron-down"></i>
      </a>
      <ul class="menu-item-list-dropdown-list">
        <a class="menu-item-list-item-link" href="mentors.html">
          <li class="menu-item-list-dropdown-list-item">
            Mentors
          </li>
        </a>
        <a class="menu-item-list-item-link" href="become-a-mentor.html">
          <li class="menu-item-list-dropdown-list-item">
            Become a mentor
          </li>
        </a>
        <a class="menu-item-list-item-link" href="become-a-mentor.html#faq">
          <li class="menu-item-list-dropdown-list-item">
            FAQ
          </li>
        </a>
      </ul>
    </li>

    <li class="menu-item-list-dropdown">
      <a class="menu-item-list-item-link" href="#">
        Community
        <i class="ii ii-chevron-down"></i>
      </a>
      <ul class="menu-item-list-dropdown-list">
        <a class="menu-item-list-item-link" href="community.html#sponsors">
          <li class="menu-item-list-dropdown-list-item">
            Sponsors
          </li>
        </a>
        <a class="menu-item-list-item-link" href="community.html#partners">
          <li class="menu-item-list-dropdown-list-item">
            Partners
          </li>
        </a>
      </ul>
    </li>

    <li class="menu-item-list-dropdown">
      <a class="menu-item-list-item-link" href="#">
        About
        <i class="ii ii-chevron-down"></i>
      </a>
      <ul class="menu-item-list-dropdown-list">
        <a class="menu-item-list-item-link" href="about.html#locations">
          <li class="menu-item-list-dropdown-list-item">
            Locations
          </li>
        </a>
        <a class="menu-item-list-item-link" href="about.html#contact">
          <li class="menu-item-list-dropdown-list-item">
            Contact Us
          </li>
        </a>
        <a class="menu-item-list-item-link" href="questions.html">
          <li class="menu-item-list-dropdown-list-item">
            FAQ
          </li>
        </a>
        <a class="menu-item-list-item-link" href="questions.html#privacy">
          <li class="menu-item-list-dropdown-list-item">
            Privacy Policy
          </li>
        </a>
        <a class="menu-item-list-item-link" href="scholarships.html">
          <li class="menu-item-list-dropdown-list-item">
            Scholarships
          </li>
        </a>
      </ul>
    </li>
  </ul>
</div>
