<div class="menu-container">
  <ul class="menu-item-list">
    <li class="menu-item-list-item">
      <a class="menu-item-list-item-link" href="index.html">
        Home
      </a>
    </li>
    <li class="menu-item-list-dropdown">
      <a class="menu-item-list-item-link" href="#">
        Curriculum
        <i class="ii ii-chevron-down"></i>
      </a>
      <ul class="menu-item-list-dropdown-list">
        <li class="menu-item-list-dropdown-list-item">
          <a class="menu-item-list-item-link" href="options.html">
            Options
          </a>
        </li>
        <li class="menu-item-list-dropdown-list-item">
          <a class="menu-item-list-item-link" href="mastery.html">
            Mastery
          </a>
        </li>
      </ul>
    </li>
    <li class="menu-item-list-item">
      <a class="menu-item-list-item-link" href="today.html">
        Today
      </a>
    </li>
    <li class="menu-item-list-dropdown">
      <a class="menu-item-list-item-link" href="#">
        Volunteers
        <i class="ii ii-chevron-down"></i>
      </a>
      <ul class="menu-item-list-dropdown-list">
        <li class="menu-item-list-dropdown-list-item">
          <a class="menu-item-list-item-link" href="mentors.html">
            Mentors
          </a>
        </li>
        <li class="menu-item-list-dropdown-list-item">
          <a class="menu-item-list-item-link" href="become-a-mentor.html">
            Become a mentor
          </a>
        </li>
      </ul>
    </li>
    <li class="menu-item-list-item">
      <a class="menu-item-list-item-link" href="sponsors.html">
        Sponsors
      </a>
    </li>
    <li class="menu-item-list-dropdown">
      <a class="menu-item-list-item-link" href="#">
        About
        <i class="ii ii-chevron-down"></i>
      </a>
      <ul class="menu-item-list-dropdown-list">
        <li class="menu-item-list-dropdown-list-item">
          <a class="menu-item-list-item-link" href="about.html#locations">
            Locations
          </a>
        </li>
        <li class="menu-item-list-dropdown-list-item">
          <a class="menu-item-list-item-link" href="about.html#contact">
            Contact Us
          </a>
        </li>
        <li class="menu-item-list-dropdown-list-item">
          <a class="menu-item-list-item-link" href="questions.html">
            FAQ
          </a>
        </li>
        <li class="menu-item-list-dropdown-list-item">
          <a class="menu-item-list-item-link" href="questions.html#privacy">
            Privacy Policy
          </a>
        </li>
        <li class="menu-item-list-dropdown-list-item">
          <a class="menu-item-list-item-link" href="scholarships.html">
            Scholarships
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
