<div class="mobile-menu-container visible-phone">
  <div class="mobile-menu-hero-container">
    <a class="mobile-menu-hero has-img" href="/">
      <img class="mobile-menu-hero-image" src="src/static/images/logo.svg">
      <span class="mobile-menu-hero-text">Denver</span>
    </a>

    <div class="mobile-menu-dropdown-container">
      <i id="mobile-dropdown-menu-close-button" class="ii ii-close hidden"></i>
      <i id="mobile-dropdown-menu-open-button" class="ii ii-menu"></i>
    </div>
  </div>

  <div id="mobile-menu-dropdown" class="mobile-menu-dropdown hidden">
    <div class="mobile-menu-dropdown-group">
      <div class="mobile-menu-dropdown-group-item">
        <a class="mobile-menu-dropdown-group-item" href="#">
          Curriculum
        </a>
        <a class="mobile-menu-dropdown-group-item" href="curriculum-options.html">
          Options
        </a>
        <a class="mobile-menu-dropdown-group-item" href="mastery.html">
          Mastery
        </a>
      </div>
    </div>

    <div class="mobile-menu-dropdown-group">
      <a class="mobile-menu-dropdown-group-item" href="today.html">
        Today
      </a>
    </div>

    <div class="mobile-menu-dropdown-group">
      <a class="mobile-menu-dropdown-group-item" href="#">
        Volunteers
      </a>
      <a class="mobile-menu-dropdown-group-item" href="mentors.html">
          Mentors
      </a>
      <a class="mobile-menu-dropdown-group-item" href="become-a-mentor.html">
        Become a mentor
      </a>
      <a class="mobile-menu-dropdown-group-item" href="become-a-mentor.html#faq">
        FAQ
      </a>
    </div>

    <div class="mobile-menu-dropdown-group">
      <a class="mobile-menu-dropdown-group-item" href="#">
        Community
      </a>
      <a class="mobile-menu-dropdown-group-item" href="community.html#sponsors">
        Sponsors
      </a>
      <a class="mobile-menu-dropdown-group-item" href="community.html#partners">
        Partners
      </a>
    </div>

    <div class="mobile-menu-dropdown-group">
      <a class="mobile-menu-dropdown-group-item" href="#">
        About
      </a>
      <a class="mobile-menu-dropdown-group-item" href="about.html#locations">
        Locations
      </a>
      <a class="mobile-menu-dropdown-group-item" href="about.html#contact">
        Contact Us
      </a>
      <a class="mobile-menu-dropdown-group-item" href="code-of-conduct.html">
        Code of Conduct
      </a>
      <a class="mobile-menu-dropdown-group-item" href="questions.html">
        FAQ
      </a>
      <a class="mobile-menu-dropdown-group-item" href="questions.html#privacy">
        Privacy Policy
      </a>
      <a class="mobile-menu-dropdown-group-item" href="scholarships.html">
        Scholarships
      </a>
    </div>
  </div>
</div>
