{{#> base}}
  <h1 class="text-center">About</h1>

  <div id="locations" class="content-box">
    <h1>Locations</h1>

    <p>
      We are currently searching for a location.
    </p>

    {{!-- <img src="LOGO GOES HERE">

    <p>
      We want to thank VENUE NAME for letting us use their space.
    </p>

    <p>
      CoderDojo Pittsburgh are held at VENUE NAME, located at <a href="GOOGLE_MAPS_LINK">ADDRESS</a>. Sessions are held every 2nd Saturday, from 8:30 AM to 12 PM. Visit the <a href="index.html">main page</a> for event information under the Upcoming Session header.
    </p>

    <p>
      You can sign up to attend our next session <a href="#">here</a>
    </p> --}}
  </div>

  <div id="contact" class="content-box">
    <h1 class="text-center">Contact Us</h1>

    <p>
      Do you have questions or feedback for CoderDojo Pittsburgh? You can email the following people
    </p>

    <table class="comparison-table">
      <tr class="comparison-table-row-header">
        <td>
          Subject
        </td>
        <td>
          Email
        </td>
      </tr>
      <tr class="comparison-table-row">
        <td>
          General information regarding sessions, sign-up and cancellation
        </td>
        <td>
          neilthawani@gmail.com
        </td>
      </tr>
      {{!-- <tr class="comparison-table-row">
        <td>
          Curriculum and presentations
        </td>
      </tr>
      <tr class="comparison-table-row">
        <td>
          Becoming a mentor
        </td>
      </tr>
      <tr class="comparison-table-row">
        <td>
          Sponsorships and merchandise
        </td>
      </tr> --}}
    </table>
  </div>
{{/base}}
