{{#> base}}
  <h1 class="text-center">About</h1>

  <div id="locations" class="content-box">
    <h1>Locations</h1>

    <div class="text-center">
      <a class="no-style" href="http://www.codeandsupply.co" target="_blank">
        <img src="https://d111vui60acwyt.cloudfront.net/stores/avatars/745173/medium/logo-small.png?1457285960" alt="Code & Supply Logo">
      </a>
    </div>

    <p>
      CoderDojo Pittsburgh sessions are held at Code &amp; Supply, located at <a href="https://www.google.com/maps/place/Code+%26+Supply/@40.4599847,-79.9307872,15z/data=!4m5!3m4!1s0x0:0x8a7e75dc2df5481b!8m2!3d40.4599847!4d-79.9307872" target="_blank">5648 Friendship Ave, Pittsburgh, PA 15206</a>. Sessions are held on the 2nd Saturday of each month, from 8:30 AM to 12 PM.
    </p>

    {{!-- <p>
      You can sign up to attend our next session <a href="#">here</a>
    </p> --}}
  </div>

  <div id="contact" class="content-box">
    {{!-- <h1>Contact Us</h1> --}}

    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeOyH5-xVGmxsfEgtV32QZFHSJI3z_CIT5b6hnmUnYAxG8ngA/viewform?embedded=true" width="100%" height="790" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

    {{!-- <p>
      Do you have questions or feedback for CoderDojo Pittsburgh? You can email the following people.
    </p> --}}

    {{!-- <table class="comparison-table">
      <tr class="comparison-table-row-header">
        <td>
          Subject
        </td>
        <td>
          Email
        </td>
      </tr>
      <tr class="comparison-table-row">
        <td>
          General information regarding sessions, sign-up and cancellation
        </td>
        <td>

        </td>
      </tr>
      <tr class="comparison-table-row">
        <td>
          Curriculum and presentations
        </td>
      </tr>
      <tr class="comparison-table-row">
        <td>
          Becoming a mentor
        </td>
      </tr>
      <tr class="comparison-table-row">
        <td>
          Sponsorships and merchandise
        </td>
      </tr>
    </table> --}}
  </div>
{{/base}}
