{{#> base}}
  <h1 class="text-center">About</h1>

  <div id="locations" class="content-box">
    <h1>Locations</h1>

    <div class="text-center">
      <a class="no-style" href="https://www.denverlibrary.org/content/bear-valley-branch-library" target="_blank" rel="noopener noreferrer">
        <img src="https://www.denverlibrary.org/sites/dplorg/files/inline-images/English-blue_0.png" alt="Denver Public Libraries Logo">
      </a>
    </div>

    <p>
      CoderDojo Denver sessions are held at the Smoky Hill Library, located at <a href="https://maps.app.goo.gl/M3v5MNGfv3MrGy3q6" target="_blank" rel="noopener noreferrer">5171 W Dartmouth Ave, Denver, CO 80236</a>. Sessions are held on the 2nd Saturday of each month, from 8:30 AM to 12 PM.
    </p>

    {{!-- <p>
      You can sign up to attend our next session <a href="#">here</a>
    </p> --}}
  </div>

  <div id="contact" class="content-box">
    {{!-- <h1>Contact Us</h1> --}}

    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeOyH5-xVGmxsfEgtV32QZFHSJI3z_CIT5b6hnmUnYAxG8ngA/viewform?embedded=true" width="100%" height="790" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

    {{!-- <p>
      Do you have questions or feedback for CoderDojo Denver? You can email the following people.
    </p> --}}

    {{!-- <table class="comparison-table">
      <tr class="comparison-table-row-header">
        <td>
          Subject
        </td>
        <td>
          Email
        </td>
      </tr>
      <tr class="comparison-table-row">
        <td>
          General information regarding sessions, sign-up and cancellation
        </td>
        <td>

        </td>
      </tr>
      <tr class="comparison-table-row">
        <td>
          Curriculum and presentations
        </td>
      </tr>
      <tr class="comparison-table-row">
        <td>
          Becoming a mentor
        </td>
      </tr>
      <tr class="comparison-table-row">
        <td>
          Sponsorships and merchandise
        </td>
      </tr>
    </table> --}}
  </div>
{{/base}}
