{{#> base}}
  <h1 class="text-center">
    Become a Mentor
  </h1>

  <div class="content-box">
    <h1>Become an adult mentor!</h1>

    <p>
      Would you like to volunteer to be a mentor?
    </p>

    <p>
      You don't need to have any programming knowledge - just the ability to think logically, a passion for helping people grow, and a little bit of problem-solving ability. Non-developers and developers with knowledge of HTML, CSS, JavaScript, Python, Unity, and beyond are welcome to become mentors!
    </p>

    <p>
      Just fill out the form below.
    </p>

    <h1 class="text-center">
      <a>
        Form coming soon! Fields are: email, first name, last name, Twitter handle, languages (Scratch, HTML, CSS, JS, Python, Ruby, game dev, general programming, other)
      </a>
    </h1>
  </div>

  <div class="content-box">
    <h1>Become a junior mentor!</h1>

    <p>
      Junior mentors are students ages 7-17 who want to gain mentorship and leadership skills in addition to working on projects like other students who attend CoderDojo.
    </p>

    <p>
      Junior mentors are the go-to for assisting other ninjas and their parents/guardians - greeting and welcoming newcomers, directing them to tables and helping them get on WiFi to get started on session work. Junior mentors also get a CoderDojo mentor t-shirt to signify their achievement <strong>(pending!)</strong>.
    </p>

    <p>
      Ninjas can become junior mentors if they:

      <ul>
        <li>
          have attended at least 5 CoderDojo sessions
        </li>
        <li>
          have achieved level 1 mastery in any language
        </li>
        <li>
          can arrive at 8:15am to help set up for the day
        </li>
      </ul>
    </p>

    <p>
      Just fill out the form below.

      <h1 class="text-center">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScY5TqtkvBvkFwRWS3KLeEA1Aed9cl39455TIv-KxpYeRcmTA/viewform">Form coming soon!</a>
      </h1>
    </p>
  </div>
{{/base}}
