{{#> base}}
  <h1 id="sponsors" class="text-center">
    Sponsors
  </h1>

  <div class="content-box">
    <h1>Become a sponsor!</h1>

    {{!-- <p>
      Would you like to sponsor CoderDojo Centennial? We thank our sponsors immensely at the beginning and ending of every CoderDojo Centennial session, and feature their names on the website.
    </p> --}}

    <p>
      We're looking for long-term partners who are invested in K-12 STEAM education in the Denver metropolitan area. CoderDojo Centennial is accepting donations in the form of:
    </p>

    <ul>
      <li>
        computer equipment (extension cords, cables, laptops, monitors, USB keyboards and mice) and bins to carry it in
      </li>
      <li>
        t-shirts for mentors and junior mentors
      </li>
      <li>
        food for breakfast, snacks and drinks our sessions
      </li>
      <li>
        financial contributions for website domain registration and to send members of our team to <a href="https://scratch.mit.edu/conference/" target="_blank" rel="noopener">regional</a> and <a href="http://dojocon.coderdojo.com/" target="_blank" rel="noopener">global</a> CoderDojo conventions
      </li>
      <li>
        scholarships for CoderDojo students
      </li>
    </ul>

    <p>
      Please <a href="about.html#contact">reach out</a> to the CoderDojo Centennial mentorship team if you are interested in contributing toward helping advance coding knowledge!
    </p>
  </div>

  <div id="partners" class="content-box">
    <h1>Community Partners</h1>

    <p>
      Our success is supported by our partners in the Mile High City community.
    </p>

    <div class="even-columns-4 partners">
      <div class="even-column partner">
        <a class="no-style" href="https://arapahoelibraries.org/locations/sm/" target="_blank" rel="noopener">
          <img alt="Arapahoe Libraries Logo" class="partner-pic" src="https://d4804za1f1gw.cloudfront.net/wp-content/uploads/sites/28/2020/01/15153551/ALD_Logo_Color-1.png">
        </a>
        <span class="partner-name">Smoky Hill Library</span>
        <span class="partner-description">Venue</span>
      </div>
    </div>
  </div>

  {{!-- <div id="schools" class="content-box">
    <h1>Partner Schools</h1>

    <p>
      We work with the following schools to recruit students to CoderDojo.
    </p>

    <div class="even-columns-4 partners">
      <div class="even-column partner">
        <a class="no-style" href="http://www.codeandsupply.co" target="_blank" rel="noopener">
          <img alt="Code & Supply Logo" class="partner-pic" src="https://d111vui60acwyt.cloudfront.net/stores/avatars/745173/medium/logo-small.png?1457285960">
        </a>
        <span class="partner-name">Code &amp; Supply</span>
        <span class="partner-description">Venue (Friendship)</span>
      </div>

      <div class="even-column partner">
        <a class="no-style" href="http://www.stemcodinglab.org" target="_blank" rel="noopener">
          <img alt="STEM Coding Lab logo" class="partner-pic" src="https://images.squarespace-cdn.com/content/5ac530101aef1de93935c2f1/1561730368935-EKVK1MR5GNXH5CEZFSJR/STEMcodingLab.png">
        </a>
        <span class="partner-name">STEM Coding Lab</span>
        <span class="partner-description">Fiduciary Sponsor</span>
      </div>
    </div>
  </div> --}}
{{/base}}
