{{#> base}}
  <h1 class="text-center">Curriculum Options</h1>


  <div class="content-box">
    <h1>Start Programming</h1>

    <p>
      Click a site's logo to go to its page!
    </p>

    <p>
      If you're not sure what you want to work on, you can explore projects on <a href="https://projects.raspberrypi.org/en/projects" target="_blank">the Raspberry Pi Foundation's</a> projects page.
  </div>

  <div class="content-box">
    <div class="text-center">
      <a class="has-img" href="https://scratch.mit.edu/projects/editor/?tutorial=getStarted" target="_blank">
        <img src="https://scratch.mit.edu/images/logo_sm.png" height="100">
      </a>
    </div>

    <p>
      If this is your first time programming, we suggest you get your start in a drag-and-drop programming tool called Scratch. You can <a href="https://scratch.mit.edu/projects/editor/?tutorial=getStarted" target="_blank">get started with a tutorial</a>. Just press Play!
    </p>

    <div class="text-center">
      <a class="has-img" href="https://scratch.mit.edu/projects/editor/?tutorial=getStarted" target="_blank">
        <img src="https://i.imgur.com/tAuxKKv.png" width="50%">
      </a>
    </div>

    <p>
      As you get better at Scratch and start presenting, you can progress along the way toward <a href="mastery.html">mastery</a>. Collect badges and acclaim as you master concepts and travel the path!
    </p>

    <p>
      If this is your first day at CoderDojo, but you've done some Scratch or other programming before and don't know where to start, you can explore some more options below or alternatively, raise your hand. A mentor can guide you through your own thought process.
  </div>

  <div class="content-box">
    <div class="text-center">
      <a class="has-img" href="https://www.roppychop.com/html5/markup-man/" target="_blank">
        <img src="https://steamcdn-a.akamaihd.net/steam/apps/502210/capsule_616x353.jpg" height="100">
      </a>
    </div>

    <p>
      Super Markup Man is a game that teaches students HTML. In this 2D platformer, players "build" a website by picking up and moving HTML tags around the level. You can learn the rules and organization of HTML markup without having to write any actual code!
    </p>
  </div>

  <div class="content-box">
    <h1>Writing Code</h1>
    <p>
      If you <em>really</em> want to start programming, you're going to need to start <em>writing code</em> instead of dragging blocks around. Scratch teaches the concepts of programming - conditionals, loops, and blocks - and the following sites below implement those concepts in text.
    </p>
  </div>

  <div class="content-box">
    <div class="text-center">
      <a class="has-img" href="https://codecombat.com/play" target="_blank">
        <img src="https://codecombat.com/images/pages/base/logo.png" height="100">
      </a>
    </div>

    <p>
      Crawl, fight, and puzzle your way through Kithgard Dungeon, the first level of Code Combat! You can learn either Python or JavaScript and hack, dart, slash, and cast your way to victory!
    </p>

    <div class="even-columns-3">
      <div class="even-column">
        <img src="https://i.imgur.com/MDNy0Z7.png" width="100%">
      </div>

      <div class="even-column">
        <img src="https://i.imgur.com/yawVLrS.png" width="100%">
      </div>

      <div class="even-column">
        <img src="https://i.imgur.com/hBwC654.png" width="100%">
      </div>
    </div>
  </div>

  <div id="codecademy" class="content-box">
    <div class="text-center">
      <a class="has-img" href="http://www.codecademy.com" target="_blank">
        <img src="https://www.codecademy.com/webpack/renderer/d7285ffbbd0ca6d1d2179f7d22ea1f67.svg" height="100">
      </a>
    </div>

    <p>
      Codecademy is a free platform for learning dozens of languages. You'll need to create an account to get started.
    </p>
  </div>

  <div class="content-box">
    <div class="text-center">
      <a class="has-img" href="https://www.khanacademy.org/computing" target="_blank">
        <img src="https://66.media.tumblr.com/f1bd3cd7e4b20dba634393462326859b/tumblr_inline_pcdui455cU1r8ovh1_540.png" height="100">
      </a>
    </div>

    <p>
      Khan Academy is another free online platform for learning computing skills. You'll need to create an account to get started learning JavaScript animations, visualizations, and simulations, SQL, and other computer science concepts. Khan Academy also has AP<sup>&reg;</sup> Computer Science Principles practice lessons.
    </p>
  </div>

  <div class="content-box">
    <div class="text-center">
      <a class="has-img" href="https://stackoverflow.com/" target="_blank">
        <img src="https://i.stack.imgur.com/440u9.png" height="100">
      </a>
    </div>

    <p>
      Stack Overflow is an open community for anyone that codes, helping you get answers to your toughest coding questions.
    </p>
  </div>

  <div id="codeanywhere" class="content-box">
    <h1>Get an IDE</h1>

    <p>
      As you get more comfortable writing code, you're going to need an Integrated Development Environment (IDE). An IDE is like a text editor, except it highlights syntax, makes it easier to integrate your code into a project, and provides small hints and suggestions within your development environment.
    </p>

    <p>
      Codeanywhere is an editor just like the ones the pros use - and you can use it anywhere! You'll need to create an account to get started.
    </p>

    <div class="text-center logo-codeanywhere">
      <a class="has-img" href="https://codeanywhere.com/signup" target="_blank">
        <img src="https://wcdn.codeanywhere.com/images/logo@2x.png" height="100">
      </a>
    </div>
  </div>
{{/base}}
