{{#> base}}
  <h1 class="text-center">Frequenty Asked Questions (FAQ)</h1>

  <table class="content-table">
    <tr class="content-table-row text-center">
      <td>Questions</td>
      <td>Answers</td>
    </tr>
    <tr class="content-table-row-sm">
      <td>
        How old does my child have to be?
      </td>
      <td>
        Children aged 7–17 are welcome. Children aged 13 and under must be accompanied by a parent or guardian throughout the entire session.
      </td>
    </tr>
    <tr class="content-table-row-sm">
      <td>
        This session is full! What now?
      </td>
      <td>
        Sign up for the waitlist. We have a lot of cancellations throughout the month, so you'll likely be able to attend. Watch your inbox for when we open additional spots.
      </td>
    </tr>
    <tr class="content-table-row-sm">
      <td>
        How long are sessions?
      </td>
      <td>
        Sessions are 3 hours long, from 9:00 AM to 12:00 PM, on the second Saturday of each month. Doors open 15 minutes early to account for sign-in and set-up.
      </td>
    </tr>
    <tr class="content-table-row-sm">
      <td>
        How much does attendance cost?
      </td>
      <td>
        Attending CoderDojoKC sessions is free, thanks to our volunteers and sponsors.
      </td>
    </tr>
    <tr class="content-table-row-sm">
      <td>
        Do I need to bring anything?
      </td>
      <td>
        Yes, your child should come with a WiFi-enabled laptop.
      </td>
    </tr>
    <tr class="content-table-row-sm">
      <td>
        Do I have to stay with my child for the sessions?
      </td>
      <td>
        If your child is aged 13 and under, your presence is required throughout the session. All parents and guardians are welcome to stay in a special area provided, so feel free to bring work or entertainment for the duration.
      </td>
    </tr>
    <tr class="content-table-row-sm">
      <td>
        If I'm staying, do I need to register myself as an attendee?
      </td>
      <td>
        No, registrations are for children only. Please do not register yourself as an attendee.
      </td>
    </tr>
    <tr class="content-table-row-sm">
      <td>
        Does my child need prior programming knowledge to attend?
      </td>
      <td>
        No, children can learn from the ground up.
      </td>
    </tr>
    <tr class="content-table-row-sm">
      <td>
        My child is looking for more advanced development resources. Will they still benefit from attending?
      </td>
      <td>
        Yes, many of the mentors are experienced developers with advanced skills and understanding of more difficult concepts.
      </td>
    </tr>
  </table>
{{/base}}
