{{#> base}}
  {{> menu}}

  <div class="footer-container">
    <div class="footer-container-content">
      <span class="footer-container-text">
        Subscribe here.
      </span>
    </div>
  </div>
{{/base}}
