{{#> base}}
  <div class="content-box">
    <h2 class="main-page-header">
      CoderDojo is a global movement of free, volunteer-led, community-based programming clubs for young people.
    </h2>
    <p>
      Anyone aged seven to seventeen can visit a Dojo where they can learn to code, build a website, create an app or a game, and explore technology in an informal, creative, and social environment.
    </p>
    <p>
      We focus on self-led learning, peer learning, and youth mentoring. We aim to help young people realize that they can build a positive future through coding and community.
    </p>
    <p>
      You can learn more about the global CoderDojo community <a href="https://coderdojo.com/" target="_blank" rel="noopener noreferrer">here</a>.
    </p>
  </div>

  <div class="content-box">
    <p>
      CoderDojo Denver sessions happen on the second Saturday of every month from 10am to 2pm at Denver Public Library's Bear Valley branch, located at <a href="https://maps.app.goo.gl/M3v5MNGfv3MrGy3q6" target="_blank" rel="noopener noreferrer">5171 W Dartmouth Ave, Denver, CO 80236</a>.
    </p>

    <p>
      Our next session is October 12th, 2024.
    </p>

    <div class="main-page-buttons">
      <div class="button">
        <a href="parent-mailing-list.html" target="_blank" rel="noopener noreferrer">Join the mailing list!</a>
      </div>
      <div class="button">
        <a href="https://forms.gle/GYRM658vQFZHLvKN6" target="_blank" rel="noopener noreferrer">Attend a session!</a>
      </div>
      <div class="button">
        <a href="become-a-mentor.html">Become a mentor!</a>
      </div>
    </div>
  </div>
{{/base}}
