{{#> base}}
  <div class="content-box">
    <h2 class="main-page-header">
      CoderDojo is a global movement of free, volunteer-led, community-based programming clubs for young people.
    </h2>
    <p>
      Anyone aged seven to seventeen can visit a Dojo where they can learn to code, build a website, create an app or a game, and explore technology in an informal, creative, and social environment.
    </p>
    <p>
      We focus on self-led learning, peer learning, and youth mentoring. We aim to help young people realize that they can build a positive future through coding and community.
    </p>
    <p>
      You can learn more about the global CoderDojo community <a href="https://coderdojo.com/" target="_blank">here</a>.
    </p>
  </div>

  <div class="content-box">
    <p>
      CoderDojo Pittsburgh sessions happen on the second Saturday of every month from 8:30am to noon.
    </p>

    <div class="main-page-buttons">
      <div class="button button-blue">
        <a href="parent-mailing-list.html" target="_blank">Join the mailing list!</a>
      </div>
      <div class="button button-green">
        <a href="https://www.eventbrite.com/e/coderdojo-pittsburgh-october-session-tickets-69502725523" target="_blank">Attend a session!</a>
      </div>
      <div class="button button-blue">
        <a href="become-a-mentor.html">Become a mentor!</a>
      </div>
    </div>
  </div>
{{/base}}
