{{#> base}}
{{/base}}

<div id="levels">
</div>

<div id="web">
</div>

Welcome to CoderDojoKC!
CoderDojo is a global non-profit created to help youth learn to code. Kansas City Women in Technology founded and runs the Kansas City chapter. All programming skillsets are welcome, from beginner to expert!

Please arrive at 8:45 AM to get checked in and seated.
All ages will need a parent or guardian to sign a waiver. Children aged 13 and under require a parent or guardian to be present during the session.
All skillsets are welcome! Those with advanced knowledge will be assisted in creating more advanced projects.
Events fill up quickly, but you can join the waitlist. We will open additional spots the week before the session.
Please be respectful to the leaders, mentors, and volunteers. They donate their time and energy to make this program possible.
Please familiarize yourself with Kansas City Women in Technology’s Code of Conduct.
For the parents:

We can secure the chairs for the children but we can't secure any for the parents. If you need a chair, please prepare a chair for the event.
