{{#> base}}
  <h1 id="scratch" class="text-center">Scratch Curriculum - Mastery</h1>
  <table class="content-table">
    <tr class="content-table-row">
      <td>
        Level 1
      </td>
      <td>
        <p>Variables</p>
        <p>Making Decisions: If-Then-Else</p>
        <p>Arrays and Lists</p>
      </td>
    </tr>
    <tr class="content-table-row">
      <td>
        Level 2
      </td>
      <td>
        <p>Loops and Repeating Things</p>
        <p>Random</p>
        <p>Functions</p>
      </td>
    </tr>
    <tr class="content-table-row">
      <td>
        Level 3
      </td>
      <td>
        <p>Events, Broadcast/Receive</p>
        <p>User Input: Text</p>
        <p>User Input: Buttons and Multiple Choice</p>
      </td>
    </tr>
  </table>

  {{!-- <h1 id="web" class="text-center">Web Development - Mastery</h1> --}}
  {{!-- http://coderdojokc.com/mastery-badges/#htmlmastery --}}
{{/base}}
