{{#> base}}
  <h1 class="text-center">
    Mentors
  </h1>

  <div class="even-columns-4 mentors">
    <div class="even-column mentor">
      <img class="mentor-pic" src="/src/static/images/mentors/neil-thawani.jpg">
      <span class="mentor-name">Neil Thawani</span>
      <span class="mentor-title">Director</span>
    </div>
  </div>

  <div class="content-box">
    <h1>Our mentors come from ..<a class="no-style" href="presentation-evaluation.html">.</a></h1>

    <div class="mentors-companies">
      <a class="no-style" href="http://www.cmu.edu" target="_blank"><img src="https://metals.hcii.cmu.edu/wp-content/uploads/2015/08/CMU_logo_horiz_red.png"></a>
    </div>
  </div>
{{/base}}
