{{#> base}}
  <h1 class="text-center">
    Mentors
  </h1>

  <div class="even-columns-4 mentors">
    <div class="even-column mentor">
      <img alt="Mentor Neil Thawani" class="mentor-pic" src="src/static/images/mentors/neil-thawani.jpg">
      <span class="mentor-name">Neil Thawani</span>
      <span class="mentor-title">Director</span>
    </div>

    <div class="even-column mentor">
      <img alt="Mentor Sarah Withee" class="mentor-pic" src="src/static/images/mentors/sarah-withee.jpg">
      <span class="mentor-name">Sarah Withee</span>
      <span class="mentor-title">Chief of Operations</span>
    </div>
  </div>

  <div class="content-box">
    <h1>Our mentors come from <a class="no-style" href="presentation-evaluation.html">...</a></h1>

    <div class="mentors-companies">
      <a class="no-style" href="http://www.cmu.edu" target="_blank"><img src="https://metals.hcii.cmu.edu/wp-content/uploads/2015/08/CMU_logo_horiz_red.png"></a>
    </div>
  </div>

  <div class="content-box">
    <h1>Call for Leadership</h1>

    <p>
      We are looking for volunteer community leaders to help grow CoderDojo Pittsburgh as Board members. If you are interested, <a href="about.html#contact">contact us</a>.
    </p>


    <table class="comparison-table">
      <tr class="comparison-table-row-header">
        <td>Role</td>
        <td>Job Description</td>
      </tr>
      {{!-- <tr class="comparison-table-row">
        <td class="text-center">
          Chief of Operations
        </td>
        <td>
          The Chief of Operations contacts venues, schedules CoderDojo sessions, and creates events, handling student and mentor registration for each session.
        </td>
      </tr> --}}
      <tr class="comparison-table-row">
        <td class="text-center">
          VP Email Marketing
        </td>
        <td>
          E-mail our monthly newsletter to students, parents, and mentors.
        </td>
      </tr>
      <tr class="comparison-table-row">
        <td class="text-center">
          VP Social Media Marketing
        </td>
        <td>
          Manage our Facebook, Twitter, and Instagram pages.
        </td>
      </tr>
      <tr class="comparison-table-row">
        <td class="text-center">
          VP Photography
        </td>
        <td>
          Take pictures at our events and work with the VPs Marketing to share what happens at our events!
        </td>
      </tr>
      <tr class="comparison-table-row">
        <td class="text-center">
          VP Digital Marketing
        </td>
        <td>
          Update the CoderDojo Pittsburgh website by working with other team members. This role is highly cross-functional because each Board member contributes to the organization's website as a central repository of knowledge about our events, curriculum, and membership.
        </td>
      </tr>
      <tr class="comparison-table-row">
        <td class="text-center">
          VP Curriculum
        </td>
        <td>
          Have a vision for computer science education? Improve the CoderDojo Pittsburgh curriculum.
        </td>
      </tr>
      <tr class="comparison-table-row">
        <td class="text-center">
          VP Recruitment
        </td>
        <td>
          Recruit mentors and students to CoderDojo Pittsburgh.
        </td>
      </tr>
      <tr class="comparison-table-row">
        <td class="text-center">
          VP Sponsorship
        </td>
        <td>
          Apply for grants, fellowships, and seek donations for CoderDojo Pittsburgh.
        </td>
      </tr>
    </table>
  </div>

{{/base}}
