{{#> base}}
  <h1 class="text-center">Frequently Asked Questions (FAQ)</h1>

  <div class="content-box">
    <h1 class="text-center">Parents</h1>

    <table class="comparison-table">
      <tr class="comparison-table-row-header">
        <td>Questions</td>
        <td>Answers</td>
      </tr>
      <tr class="comparison-table-row">
        <td>
          How old does my child have to be?
        </td>
        <td>
          Children aged 7–17 are welcome. If a child is aged 13 or younger, their parent or guardian must be in the building throughout the entire session.
        </td>
      </tr>
      <tr class="comparison-table-row">
        <td>
          My child is less than 7 years old and still wants to attend! Can they still sign up?
        </td>
        <td>
          If your child is younger than 7 years old but is able to fluently read, they can attend the session. This is because coding is mostly built on reading and language comprehension skills.
        </td>
      </tr>
      <tr class="comparison-table-row">
        <td>
          How long are sessions?
        </td>
        <td>
          Sessions are from 10:00 AM to 2:00 PM, on the second Saturday of each month. We do sign-in and set-up from 10:00 to 10:30 and the session begins after that.
        </td>
      </tr>
      <tr class="comparison-table-row">
        <td>
          How much does attendance cost?
        </td>
        <td>
          Attending CoderDojo sessions is free, thanks to our volunteers and sponsors.
        </td>
      </tr>
      <tr class="comparison-table-row">
        <td>
          Where are sessions located?
        </td>
        <td>
          CoderDojo Denver sessions are held at Denver Public Library's Bear Valley branch, located at <a href="https://maps.app.goo.gl/M3v5MNGfv3MrGy3q6" target="_blank" rel="noopener noreferrer">5171 W Dartmouth Ave, Denver, CO 80236</a>.
        </td>
      </tr>
      <tr class="comparison-table-row">
        <td>
          Do I need to bring anything?
        </td>
        <td>
          Yes, come to sessions with a WiFi-enabled laptop and any accessories (keyboard, mouse, etc.) your child might need.
        </td>
      </tr>
      <tr class="comparison-table-row">
        <td>
          Do I have to stay with my child for the sessions?
        </td>
        <td>
          You need to be present to check in with your child at the beginning of each session.
          <br />
          If your child is aged 13 and under, your presence is required throughout the session.
          <br />
          All parents and guardians are welcome to stay - either to learn with their child or in seating areas in the venue space, so feel free to bring work or entertainment for the duration of the session.
        </td>
      </tr>
      <tr class="comparison-table-row">
        <td>
          Does my child need prior programming knowledge to attend?
        </td>
        <td>
          No, children can learn from the ground up.
        </td>
      </tr>
      <tr class="comparison-table-row">
        <td>
          My child is looking for more advanced development resources. Will they still benefit from attending?
        </td>
        <td>
          Yes, some of our mentors are experienced developers with advanced skills and understanding of more difficult concepts. Your child can raise their hand and request guidance from mentors in what they would like to learn.
        </td>
      </tr>
      <tr class="comparison-table-row">
        <td>
          If I'm staying, do I need to register myself as an attendee?
        </td>
        <td>
          No, registrations are for children only. Please do not register yourself as an attendee.
        </td>
      </tr>
      <tr class="comparison-table-row">
        <td>
          This month's session is full! What now?
        </td>
        <td>
          Sign up anyway! We have a waitlist, so if there are cancellations, you'll likely be able to attend. Watch your inbox for when we open additional spots.
        </td>
      </tr>
      <tr class="comparison-table-row">
        <td>
          Does the CoderDojo Foundation provide more information about the organization?
        </td>
        <td>
          Yep! Check out their <a href="https://help.coderdojo.com/cdkb/s/article/Orientation-for-parents-and-guardians-slide-deck" target="_blank" rel="noopener noreferrer">handbook and dojo guides for parents and guardians</a>.
        </td>
      </tr>
    </table>
  </div>

  <div id="privacy" class="content-box">
    <h1 class="text-center">Privacy Policy</h1>

    <p>
      We understand that you may be concerned about your family's privacy.
    </p>

    <p>
      Please know that we value your family's privacy, and we take the protection of your information very seriously. We will never share, sell, nor otherwise divulge any personal information about you or your children.
    </p>

    <p>
      Any information you provide as part of a sign-up or survey process will be used for demographic purposes only and will remain completely confidential to CoderDojo Denver and its affiliated programs. Any data we do share (e.g., with potential sponsors) will be completely anonymized and aggregated for your safety.
    </p>

    <p>
      If you ever have concerns about your family's privacy or safety as they relate to CoderDojo Denver, please <a href="mailto:admin@rowschool.com">contact us</a>.
    </p>
  </div>
{{/base}}
