{{#> base}}
  <h1 class="text-center">Scholarship Opportunities</h1>

  <div class="content-box">
    <p>
      If you are a company or individual interested in partnering with CoderDojo Pittsburgh to offer students scholarships or other opportunities, please visit our <a href="sponsors.html">sponsors page</a> and reach out to the team via email.
    <p>

    <p>
      CoderDojo Pittsburgh offers the following information regarding scholarships to all students, parents/guardians, and ninjas.
    </p>

    <ul>
      <li>
        <a href="https://www.codenow.org/" target="_blank">CodeNow</a>
      </li>
      <li>
        <a href="https://girlswhocode.com/" target="_blank">Girls Who Code</a>
      </li>
      <li>
        <a href="https://www.aspirations.org/" target="_blank">NCWIT Aspirations in Computing</a>
      </li>
    </ul>
  </div>
{{/base}}
