{{#> base}}
  <h1 class="text-center">
    Sponsors
  </h1>

  <div class="content-box">
    <h1>Become a sponsor!</h1>

    <p>
      Would you like to sponsor CoderDojo Pittsburgh? Sponsors are given exposure and shown immense amounts of gratitude at the beginning and ending of every CoderDojo Pittsburgh session.
    </p>

    <p>
      We are accepting donations in the form of:
    </p>

    <ul>
      <li>
        computer equipment (extension cords, cables, laptops, monitors, USB keyboards and mice) and bins to carry it in
      </li>
      <li>
        t-shirts for mentors and junior mentors
      </li>
      <li>
        food for breakfast, snacks and drinks our sessions
      </li>
      <li>
        financial contributions for website domain registration and to send members of our team to <a href="https://scratch.mit.edu/conference/" target="_blank">regional</a> and <a href="http://dojocon.coderdojo.com/" target="_blank">global</a> CoderDojo conventions
      </li>
      <li>
        scholarships for CoderDojo students
      </li>
    </ul>

    <p>
      Please <a href="about.html#contact">reach out</a> to the CoderDojo Pittsburgh mentorship team if you are interested in contributing toward helping advance coding knowledge!
    </p>
  </div>
{{/base}}
