{{#> base}}
  <h1 class="text-center">Today - Saturday, October 12, 2019</h1>

  <div class="content-box">
      <h1>Welcome!</h1>

      <p>
        First of all, welcome to CoderDojo Pittsburgh! We are <em>so happy</em> you're spending time with us today!
      </p>

      <p>
        Below is our schedule for today. Some details and guidance are featured below.
      </p>
  </div>

  <table class="content-table">
    <tr class="content-table-row">
      <td>
        8:30 - 9:00
      </td>
      <td>
        Registration
      </td>
    </tr>

    <tr class="content-table-row">
      <td>
        9:00 - 9:30
      </td>
      <td>
        Today's Agenda
      </td>
    </tr>

    <tr class="content-table-row">
      <td>
        9:00 - 11:30
      </td>
      <td>
        Build Projects
      </td>
    </tr>

    <tr class="content-table-row">
      <td>
        11:00 - 11:30
      </td>
      <td>
        Presentation Sign-ups
      </td>
    </tr>

    <tr class="content-table-row">
      <td>
        11:30 - 12:00
      </td>
      <td>
        Presentations
      </td>
    </tr>
  </table>

  <div class="content-box">
    <h1>Registration</h1>

    <p>
      Looking for something to do while students and parents/guardians check in for the day?
    </p>

    <ul>
      <li>
        <p>
          Take a look at the <a href="curriculum-options.html">curriculum page</a> to see what kinds of projects you can build! If you're new, you might enjoy playing around with <a href="https://scratch.mit.edu/projects/editor/?tutorial=getStarted" target="_blank">Scratch</a>. Be sure to create an account so you can save your Scratch projects!
        </p>
      </li>
      <li>
        <p>
          <a href="http://www.typing.io" target="_blank">Typing.io</a> is a way to practice your typing skills.
        </p>
      </li>
    </ul>
  </div>

  <div class="content-box">
    <h1>Today's Agenda</h1>

    <p>
      Today's theme is <span class="today-theme">Halloween!</span> If you're going to be presenting your project today, it should have features related to today's theme.
    </p>

    <p>
      Be sure to follow along by paying attention to the presenting mentor.
    </p>
  </div>

  <div class="content-box">
    <h1>Build Projects</h1>

    <p>
      <em>
        What do I want to build today?
      </em>
    </p>

    <p>
      That's the first question you'll ask if you're not sure what you want to do.
    </p>

    <p>
      If you need help, raise your hand to ask a mentor or visit <a href="https://scratch.mit.edu/explore/projects/all" target="_blank">Scratch's Projects page</a> for some inspiration!
    </p>
  </div>

  <div class="content-box">
    <h1>Presentation Sign-Ups</h1>

    <p>
      At 11:00, we will make an announcement for students who want to present to line up by the Presentation Mentor and their laptop. Give them your name, the name of your project, a public link to your project (if it's in Scratch) or another way to access it (if you're using another language), and get ready!
    </p>

    <p>
      <strong>Please note:</strong> Presentations should be on-theme and cannot have any politics, violence, gore, or bad words (that includes "sucks!").
    </p>
  </div>

  <div class="content-box">
    <h1>Presentations</h1>

    <p>
      Students should close their laptops and give their full attention to ninjas who are presenting today.
    </p>

    <p>
      For parents/guardians with tight schedules, we ask that you leave before or after presentations, but not during so we don't interrupt presenters.
    </p>
  </div>
{{/base}}
